.row
  .col.s6.offset-s3
    = simple_form_for @chat_room do |f|
      = f.error_notification
      .input-field
        = f.input :title, required: true, autofocus: true
      = f.button :submit, {class: 'btn btn-primary'}
