.hero
  .row
    %h1.center-align.white-text Connecting Refugees With Locals
    %hr
    %p.center-align.white-text.col.s8.offset-s2 ERefuge connects locals with refugees for simple social interactions. This could be an afternoon coffee, walk in the park, a visit to a museum or whatever your saturday afternoon brings you.
    - if !current_user
      = link_to "Create A New Account Now", new_user_registration_path, {:class => "col m2 offset-m5 s4 offset-s4 waves-effect waves-light btn-large hero-signup center-align"}


%section#about.bg-primary
  .container
    .row
      .col.l8.offset-l2.center-align
        %h2.section-heading ERefuge is a social networking app that creates cultural exchanges among locals and refugees.
        %hr.light/
        %p.text-faded There's so much to love about different cultures, and sharing those experiences will help refugees integrate to their new home as well as broaden the horizons of locals as well.
        = link_to "Sign Up", new_user_registration_path, {:class => "waves-effect waves-light btn blue darken-2"}
%section#services
  .container
    .row
      .col.l12
        %h2.section-heading Connecting Communities
        %hr
  .row
    .col.l3.col.m6.center-align
      .service-box
        %i{:class =>"medium material-icons"} check_circle
        %i.fa.fa-4x.fa-check-square-o.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
        %h3 Apply online
        %p.text-muted Apply as a local or as a refugee in just a matter of minutes, and get a match from an algorith designed to keep you safe.
    .col.l3.col.m6.center-align
      .service-box
        %i{:class =>"medium material-icons"} local_cafe
        %h3 Meet for coffee
        %p.text-muted Have a chat with some other members of your community and those who are just arriving. See how you can help each other.
    .col.l3.col.m6.center-align
      .service-box
        %i{:class =>"medium material-icons"} people
        %h3 Build relationships
        %p.text-muted It's not with community centers that you will rebuild communities. It's with face-to-face communication and friendship.
    .col.l3.col.m6.center-align
      .service-box
        %i{:class =>"medium material-icons"} favorite
        %h3 Spread the love
        %p.text-muted Everyone deserves to be treated with dignity and respect. Some of us fell into an unfortunate situation, let's help them out!
%section#mailing-list
  .container.center-align
    .call-to-action
      %h2 Sign up for our mailing list!
      / Begin MailChimp Signup Form
      %div{:id => "mc_embed_signup wow tada"}
        %form#mc-embedded-subscribe-form.validate.form-inline{:action => "//foodcampus.us10.list-manage.com/subscribe/post?u=f8465df525b3d0b20a32b7e27&id=16db1bb259", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          #mc_embed_signup_scroll
            .mc-field-group
              %input#mce-EMAIL.required.email.form-control.input-lg{:name => "EMAIL", :type => "email", :value => ""}/
              %input#mc-embedded-subscribe.btn.btn-primary.btn-xl{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
            #mce-responses.clear
              #mce-error-response.response{:style => "display:none"}
              #mce-success-response.response{:style => "display:none"}
            / real people should not fill this in and expect good things - do not remove this or risk form bot signups
            %div{:style => "position: absolute; left: -5000px;"}
              %input{:name => "b_f8465df525b3d0b20a32b7e27_16db1bb259", :tabindex => "-1", :type => "text", :value => ""}/
            .clear
  / End mc_embed_signup
