.hero {
  background-image: url("../images/hero-lighthouse.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
  max-width: 100%;
  min-height: 700px;
  margin-top: -100px;
  @media (max-width: 768px) {
    min-height: 400px;
  }
  h1 {
    padding-top: 60px;
    @media (max-width: 1199px) {
      padding-top: 65px;
    }
  }
}
