%footer
  .container
    .row
      .col.s10.offset-s1
        %h5 ABOUT EREFUGE
        %p ERefuge exists as a means of connecting people from different countries and cultures.  We believe in creating experiences that enrich the lives of others, broaden cultural horizons, and create a support network for refugees that are new to America.
        %p &copy; 2016 Chip Carnes
